<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="product-form" action="/admin/edit-product" method="POST">
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" 
                    class="<%= validationErrors.find(e => e.param == 'title') ? 'invalid' : '' %>"
                    name="title" 
                    id="title" 
                    value="<%= title %>"
                >
            </div>
            <div class="form-control">
                <label for="imageUrl">Image URL</label>
                <input type="text" 
                    class="<%= validationErrors.find(e => e.param == 'imageUrl') ? 'invalid' : '' %>"
                    name="imageUrl" 
                    id="imageUrl" 
                    value="<%= imageUrl %>"
                >
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input type="number" 
                    class="<%= validationErrors.find(e => e.param == 'price') ? 'invalid' : '' %>"
                    name="price" 
                    id="price" 
                    step="0.01" 
                    value="<%= price %>"
                >
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea name="description" 
                    class="<%= validationErrors.find(e => e.param == 'description') ? 'invalid' : '' %>"
                    id="description" 
                    rows="5"
                ><%= description %></textarea>
            </div>
           
            <input type="hidden" 
                value="<%= prodId %>" 
                name="productId"
            >
     

            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Update Product</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>


