<section class='pagi'>
     
    <% if (currPage > 1) { %>
        <a href='/?page=1'>First</a>
    <% } %>

    <% if (hasPrev) { %>
        <a href='/?page=<%= prevPage %>'> << </a>
    <% } %>

    <a href='/?page=<%= currPage %>' class='active'><%= currPage %></a>
    
    <% if (hasNext) { %>
        <a href='/?page=<%= nextPage %>'> >> </a>
    <% } %>

    <% if (lastPage > currPage) {  %>
        <a href='/?page=<%= lastPage %>'>Last</a>
    <% } %>

</section>